In [122]:
import numpy as np
from sklearn.model_selection import train_test_split

X = np.random.randint(1, 5, size=(5, 5))

In [123]:
X

array([[4, 4, 2, 1, 3],
       [1, 3, 2, 2, 1],
       [4, 3, 3, 4, 4],
       [3, 1, 1, 1, 1],
       [4, 1, 3, 2, 2]])

In [125]:
print(X[:2, :])
print(X[2:, :])

[[4 4 2 1 3]
 [1 3 2 2 1]]
[[4 3 3 4 4]
 [3 1 1 1 1]
 [4 1 3 2 2]]

In [90]:
#X = np.hstack([X, np.expand_dims(np.array(['a', 'b', 'c']), axis=1)])

In [94]:
import pandas as pd
X1 = pd.DataFrame(X)

In [86]:
def is_numeric(column):
    """Determine whether the argument has a numeric datatype, when
    converted to a NumPy array.

    Booleans, unsigned integers, signed integers, floats and complex
    numbers are the kinds of numeric datatype.

    Parameters
    ----------
    array : array-like
        The array to check.

    Returns
    -------
    is_numeric : `bool`
        True if the array has a numeric datatype, False if not.

    """
    print(column.values)
    return column.values.dtype.kind in _NUMERIC_KINDS

In [99]:
pd.read_csv('../data/adult/adult.data', sep=' ', header=None).values

array([[39, nan, 'State-gov', ..., 40, nan, 'United-States'],
       [50, nan, 'Self-emp-not-inc', ..., 13, nan, 'United-States'],
       [38, nan, 'Private', ..., 40, nan, 'United-States'],
       ...,
       [58, nan, 'Private', ..., 40, nan, 'United-States'],
       [22, nan, 'Private', ..., 20, nan, 'United-States'],
       [52, nan, 'Self-emp-inc', ..., 40, nan, 'United-States']],
      dtype=object)

In [87]:
_NUMERIC_KINDS = set('buifc')

[is_numeric(X1.iloc[:, i]) for i in range(len(X1.columns))]

['3' '4' '1']
['1' '4' '3']
['4' '4' '3']
['a' 'b' 'c']
['a' 'b' 'c']

[False, False, False, False, False]

In [23]:
is_categorical(np.array([0, 1, 2]))

False

In [11]:
X1, X2, y1, y2 = train_test_split(X, np.zeros(X.shape))

In [109]:
if X1.columns.values.dtype == np.int64:
    print('lol')

lol

In [14]:
if 1:
    print('lol')

lol

In [111]:
pd.read_csv('../data/adult/adult.data', header=None).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K